<a href="https://colab.research.google.com/github/MarcinJanCiesielski/data_science_bootcamp/blob/main/02_Analiza_danych/04_laczenie_danych.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import bibliotek

In [14]:
import pandas as pd
pd.__version__

'1.3.5'

#Wczytanie danych

In [15]:
def fetch_financial_data(company='AMZN'):
    """
    This function fetch stock market quotations.
    """
    import pandas_datareader.data as web
    return web.DataReader(name=company, data_source='stooq')

apple = fetch_financial_data('AAPL')
amazon = fetch_financial_data('AMZN')
google = fetch_financial_data('GOOGL')
uber= fetch_financial_data('UBER')

In [16]:
uber.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 934 entries, 2023-01-24 to 2019-05-10
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    934 non-null    float64
 1   High    934 non-null    float64
 2   Low     934 non-null    float64
 3   Close   934 non-null    float64
 4   Volume  934 non-null    int64
dtypes: float64(4), int64(1)
memory usage: 43.8 KB

In [17]:
apple.head()

               Open     High     Low   Close      Volume
Date
2023-01-24  140.305  143.160  140.30  142.53  66435142.0
2023-01-23  138.120  143.315  137.90  141.11  81760313.0
2023-01-20  135.280  138.020  134.22  137.87  80223626.0
2023-01-19  134.080  136.250  133.77  135.27  58280413.0
2023-01-18  136.815  138.610  135.03  135.21  69672800.0

#Processing

In [21]:
apple.comumns = ['apple_' + col.lower() for col in apple.columns]
amazon.comumns = ['amazon_' + col.lower() for col in amazon.columns]
google.comumns = ['google_' + col.lower() for col in google.columns]
uber.comumns = ['uber_' + col.lower() for col in uber.columns]

In [23]:
uber.head()

             Open     High     Low  Close    Volume
Date
2023-01-24  25.71  31.2000  25.710  29.93  14464364
2023-01-23  30.63  31.1100  30.265  30.53  22041062
2023-01-20  29.30  30.3900  29.120  30.36  23008696
2023-01-19  28.47  29.2854  28.340  29.03  15651532
2023-01-18  29.95  30.0900  28.885  28.96  25257235

In [25]:
df = pd.concat(objs=[apple, amazon, google, uber], axis=1)

In [27]:
pd.set_option('display.float_format', lambda x: f'{x:.2f}')
df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
Open,1257.00,97.92,46.41,34.74,49.86,95.51,142.22,181.58
High,1257.00,99.12,47.01,35.16,50.35,96.99,143.63,181.88
Low,1257.00,96.77,45.81,34.26,49.54,94.59,140.43,178.09
Close,1257.00,97.99,46.43,34.31,50.03,95.57,142.21,180.96
Volume,1257.00,118919317.89,56910960.23,35195860.00,80223626.00,103515477.20,139680268.11,434708544.96
Open,1257.00,120.32,35.22,67.30,89.32,108.10,158.34,187.20
High,1257.00,121.77,35.59,69.17,89.95,110.78,159.94,188.65
Low,1257.00,118.69,34.80,63.30,88.16,106.32,156.25,184.84
Close,1257.00,120.24,35.16,66.98,89.27,108.00,158.10,186.57
Volume,1257.00,86482992.05,40590973.62,17626740.00,58974200.00,75062316.00,102288060.00,311345660.00
Open,1257.00,86.16,30.62,49.22,59.09,74.64,112.64,151.25
High,1257.00,87.13,30.91,50.61,59.55,75.52,114.01,151.55
Low,1257.00,85.19,30.26,48.88,58.46,74.02,111.46,148.90
Close,1257.00,86.18,30.58,49.23,59.08,74.92,112.72,149.84
Volume,1257.00,35362500.32,16032635.75,9312760.00,25153400.00,31461560.00,40334260.00,133177100.00
Open,934.00,37.32,9.85,15.96,29.64,34.91,44.27,63.25
High,934.00,38.09,9.92,17.80,30.39,35.67,44.97,64.05
Low,934.00,36.48,9.69,13.71,29.11,34.02,43.49,60.80
Close,934.00,37.28,9.79,14.82,29.74,34.80,44.12,63.18
Volume,934.00,25449521.84,16490493.60,3380003.00,15684348.00,21773939.00,30616682.25,186322536.00

In [28]:
df.corr()

,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume,Open,High,Low,Close,Volume
Open,1.00,1.00,1.00,1.00,-0.37,0.78,0.79,0.78,0.78,-0.31,0.93,0.93,0.93,0.93,-0.15,0.09,0.09,0.09,0.09,0.11
High,1.00,1.00,1.00,1.00,-0.36,0.78,0.79,0.78,0.78,-0.30,0.93,0.93,0.92,0.93,-0.15,0.09,0.09,0.09,0.09,0.11
Low,1.00,1.00,1.00,1.00,-0.37,0.78,0.79,0.78,0.78,-0.31,0.93,0.93,0.93,0.93,-0.16,0.09,0.10,0.10,0.10,0.10
Close,1.00,1.00,1.00,1.00,-0.37,0.78,0.79,0.78,0.78,-0.31,0.93,0.93,0.93,0.93,-0.15,0.09,0.09,0.09,0.09,0.11
Volume,-0.37,-0.36,-0.37,-0.37,1.00,-0.24,-0.23,-0.25,-0.24,0.59,-0.41,-0.41,-0.42,-0.42,0.51,-0.18,-0.17,-0.20,-0.19,0.24
Open,0.78,0.78,0.78,0.78,-0.24,1.00,1.00,1.00,1.00,-0.27,0.80,0.80,0.80,0.80,-0.16,0.59,0.59,0.59,0.59,-0.03
High,0.79,0.79,0.79,0.79,-0.23,1.00,1.00,1.00,1.00,-0.26,0.80,0.80,0.80,0.80,-0.16,0.58,0.58,0.58,0.58,-0.03
Low,0.78,0.78,0.78,0.78,-0.25,1.00,1.00,1.00,1.00,-0.29,0.80,0.79,0.80,0.80,-0.17,0.60,0.60,0.60,0.60,-0.04
Close,0.78,0.78,0.78,0.78,-0.24,1.00,1.00,1.00,1.00,-0.27,0.80,0.80,0.80,0.80,-0.17,0.59,0.59,0.59,0.59,-0.04
Volume,-0.31,-0.30,-0.31,-0.31,0.59,-0.27,-0.26,-0.29,-0.27,1.00,-0.33,-0.33,-0.34,-0.33,0.59,-0.17,-0.17,-0.19,-0.18,0.25
Open,0.93,0.93,0.93,0.93,-0.41,0.80,0.80,0.80,0.80,-0.33,1.00,1.00,1.00,1.00,-0.18,0.24,0.24,0.24,0.24,0.10
High,0.93,0.93,0.93,0.93,-0.41,0.80,0.80,0.79,0.80,-0.33,1.00,1.00,1.00,1.00,-0.17,0.24,0.24,0.24,0.23,0.10
Low,0.93,0.92,0.93,0.93,-0.42,0.80,0.80,0.80,0.80,-0.34,1.00,1.00,1.00,1.00,-0.19,0.25,0.25,0.25,0.25,0.09
Close,0.93,0.93,0.93,0.93,-0.42,0.80,0.80,0.80,0.80,-0.33,1.00,1.00,1.00,1.00,-0.18,0.24,0.24,0.24,0.24,0.10
Volume,-0.15,-0.15,-0.16,-0.15,0.51,-0.16,-0.16,-0.17,-0.17,0.59,-0.18,-0.17,-0.19,-0.18,1.00,-0.16,-0.15,-0.18,-0.16,0.26
Open,0.09,0.09,0.09,0.09,-0.18,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.16,1.00,1.00,1.00,0.99,-0.22
High,0.09,0.09,0.10,0.09,-0.17,0.59,0.58,0.60,0.59,-0.17,0.24,0.24,0.25,0.24,-0.15,1.00,1.00,1.00,1.00,-0.20
Low,0.09,0.09,0.10,0.09,-0.20,0.59,0.58,0.60,0.59,-0.19,0.24,0.24,0.25,0.24,-0.18,1.00,1.00,1.00,1.00,-0.24
Close,0.09,0.09,0.10,0.09,-0.19,0.59,0.58,0.60,0.59,-0.18,0.24,0.23,0.25,0.24,-0.16,0.99,1.00,1.00,1.00,-0.22
Volume,0.11,0.11,0.10,0.11,0.24,-0.03,-0.03,-0.04,-0.04,0.25,0.10,0.10,0.09,0.10,0.26,-0.22,-0.20,-0.24,-0.22,1.00

In [30]:
df.columns

Index(['Open', 'High', 'Low', 'Close', 'Volume', 'Open', 'High', 'Low',
       'Close', 'Volume', 'Open', 'High', 'Low', 'Close', 'Volume', 'Open',
       'High', 'Low', 'Close', 'Volume'],
      dtype='object')

In [32]:
closes = [col for col in df.columns if col == 'Close']
closes

['Close', 'Close', 'Close', 'Close']

In [35]:
uber_6 = uber[(uber.index.month == 6) & (uber.index.year == 2022) ]
uber_6

            Open  High   Low  Close    Volume
Date
2022-06-30 21.11 21.13 19.89  20.46  30882454
2022-06-29 22.11 22.15 21.08  21.47  30704792
2022-06-28 22.97 23.46 22.04  22.08  24360150
2022-06-27 23.45 23.64 22.34  22.86  27153354
2022-06-24 22.48 23.19 22.30  23.03  38140098
2022-06-23 21.63 22.44 21.39  22.37  27010545
2022-06-22 21.41 22.21 21.30  21.50  32353317
2022-06-21 22.00 22.46 21.69  21.76  35257652
2022-06-17 20.37 21.96 20.37  21.81  46728428
2022-06-16 21.04 21.40 20.16  20.47  55312350
2022-06-15 21.34 22.39 21.24  22.03  36073711
2022-06-14 21.72 21.95 20.89  21.09  43006334
2022-06-13 22.22 22.59 21.34  21.57  33130326
2022-06-10 24.80 24.97 23.65  23.72  29897398
2022-06-09 25.94 26.69 25.36  25.44  42149561
2022-06-08 25.70 26.55 25.30  25.83  31225314
2022-06-07 24.20 25.70 24.07  25.30  27453723
2022-06-06 24.86 25.43 24.28  24.73  29834677
2022-06-03 24.17 24.50 23.73  24.15  24283631
2022-06-02 23.07 24.83 22.94  24.74  30691100
2022-06-01 23.53 23.87 22.57  22.94  26383612

In [36]:
uber_7 = uber[(uber.index.month == 7) & (uber.index.year == 2022) ]
uber_7

            Open  High   Low  Close    Volume
Date
2022-07-29 23.18 23.48 22.39  23.45  29406649
2022-07-28 22.89 23.42 22.14  23.31  22886075
2022-07-27 23.00 23.32 22.49  23.09  28384348
2022-07-26 23.15 23.15 22.45  22.55  24402801
2022-07-25 23.27 23.54 22.63  23.35  12923042
2022-07-22 24.33 24.81 23.09  23.30  20209442
2022-07-21 24.02 24.25 23.60  24.23  18425364
2022-07-20 22.89 24.22 22.80  24.12  27844618
2022-07-19 22.75 23.08 22.19  22.67  23148938
2022-07-18 22.17 23.20 22.11  22.58  30935860
2022-07-15 21.00 21.78 20.77  21.67  24503631
2022-07-14 21.25 21.46 20.59  20.65  31561675
2022-07-13 20.93 21.61 20.72  21.50  18994916
2022-07-12 21.28 21.78 20.98  21.57  17373535
2022-07-11 21.95 22.25 21.14  21.19  17562117
2022-07-08 22.43 22.96 21.83  22.34  20231300
2022-07-07 21.64 22.76 21.61  22.74  23121886
2022-07-06 21.50 22.08 21.32  21.50  32689429
2022-07-05 21.17 22.55 20.83  22.52  24515795
2022-07-01 20.70 21.37 20.43  21.34  20693312

In [39]:
uber_67 = uber_6.append(uber_7)

In [40]:
uber_67

            Open  High   Low  Close    Volume
Date
2022-06-30 21.11 21.13 19.89  20.46  30882454
2022-06-29 22.11 22.15 21.08  21.47  30704792
2022-06-28 22.97 23.46 22.04  22.08  24360150
2022-06-27 23.45 23.64 22.34  22.86  27153354
2022-06-24 22.48 23.19 22.30  23.03  38140098
2022-06-23 21.63 22.44 21.39  22.37  27010545
2022-06-22 21.41 22.21 21.30  21.50  32353317
2022-06-21 22.00 22.46 21.69  21.76  35257652
2022-06-17 20.37 21.96 20.37  21.81  46728428
2022-06-16 21.04 21.40 20.16  20.47  55312350
2022-06-15 21.34 22.39 21.24  22.03  36073711
2022-06-14 21.72 21.95 20.89  21.09  43006334
2022-06-13 22.22 22.59 21.34  21.57  33130326
2022-06-10 24.80 24.97 23.65  23.72  29897398
2022-06-09 25.94 26.69 25.36  25.44  42149561
2022-06-08 25.70 26.55 25.30  25.83  31225314
2022-06-07 24.20 25.70 24.07  25.30  27453723
2022-06-06 24.86 25.43 24.28  24.73  29834677
2022-06-03 24.17 24.50 23.73  24.15  24283631
2022-06-02 23.07 24.83 22.94  24.74  30691100
2022-06-01 23.53 23.87 22.57  22.94  26383612
2022-07-29 23.18 23.48 22.39  23.45  29406649
2022-07-28 22.89 23.42 22.14  23.31  22886075
2022-07-27 23.00 23.32 22.49  23.09  28384348
2022-07-26 23.15 23.15 22.45  22.55  24402801
2022-07-25 23.27 23.54 22.63  23.35  12923042
2022-07-22 24.33 24.81 23.09  23.30  20209442
2022-07-21 24.02 24.25 23.60  24.23  18425364
2022-07-20 22.89 24.22 22.80  24.12  27844618
2022-07-19 22.75 23.08 22.19  22.67  23148938
2022-07-18 22.17 23.20 22.11  22.58  30935860
2022-07-15 21.00 21.78 20.77  21.67  24503631
2022-07-14 21.25 21.46 20.59  20.65  31561675
2022-07-13 20.93 21.61 20.72  21.50  18994916
2022-07-12 21.28 21.78 20.98  21.57  17373535
2022-07-11 21.95 22.25 21.14  21.19  17562117
2022-07-08 22.43 22.96 21.83  22.34  20231300
2022-07-07 21.64 22.76 21.61  22.74  23121886
2022-07-06 21.50 22.08 21.32  21.50  32689429
2022-07-05 21.17 22.55 20.83  22.52  24515795
2022-07-01 20.70 21.37 20.43  21.34  20693312